@font-face {
  font-family: HankenGrotesk;
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

body {
  background-color: var(--pale-blue);
  width: 100vw;
  font-size: 18px;
  font-family: "HankenGrotesk", sans-serif;
}

main {
  background-color: var(--white);
  margin-top: 10%;
  border-radius: 2rem;
}

.result {
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 2rem;
}

.result,
.summary {
  width: 50%;
  height: 512px;
  padding: 2rem;
}

.result-titulo {
  color: var(--light-lavender);
  font-size: 1.4rem;
  font-weight: 700;
}

.result-score {
  background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.result-score span:first-child {
  color: var(--white);
  font-size: 5rem; 
}

.result-score span:last-child {
  color: var(--light-lavender);
}

.result-label {
  color: var(--white);
  font-size: 2rem;
}

.result-paragrafo {
  color: var(--light-lavender);
  width: 70%;
  text-align: center;
}

.summary-titulo,
.summary-card {
  width: 90%;
  height: 10%;
}

.summary-botao {
  width: 100%;
  height: 10%;
  margin-top: 2rem;
}

.summary-titulo {
  font-size: 1.4rem;
}

.summary-card {
  border: 1px solid;
  padding: 0 1rem;
  border-radius: .75rem;
}

.summary-card-label {
  gap: .25rem;
}

.summary-card-score {
  color: var(--light-lavender);
}

.summary-card-score span {
  color: var(--dark-gray-blue);
}

.summary-card--reaction, .summary-card--reaction.summary-card-label {
  background-color: hsla(0, 100%, 67%, .04);
  border-color: var(--light-red);
  color: var(--light-red);
}

.summary-card--memory, .summary-card--memory.summary-card-label {
  background-color: hsla(39, 100%, 56%, .04);
  border-color: var(--orangey-yellow);
  color: var(--orangey-yellow);
}

.summary-card--verbal, .summary-card--verbal.summary-card-label {
  background-color: hsla(166, 100%, 37%, .04);
  border-color: var(--green-teal);
  color: var(--green-teal);
}

.summary-card--visual, .summary-card--visual.summary-card-label {
  background-color: hsla(234, 85%, 45%, .04);
  border-color: var(--cobalt-blue);
  color: var(--cobalt-blue);
}

.summary-botao {
  background-color: var(--dark-gray-blue);
  border: 0;
  border-radius: 40px;
  color: var(--white);
  font-size: 1rem;
}

@media screen and (max-width: 650px) {
  main {
    flex-direction: column;
    width: 368px;
  }

  .result,
  .summary {
    width: 82%;
  }
}